 header{
                background-color: rgb(255, 218, 218);
            ul{
                list-style-type: none;
                margin: 0;
                padding: 10px;
                display: flex;
                gap: 20px;   

            li{
                color: aqua;
            } 
                
            }
            
            
               
            }
            header .logo a{ 
                background-image: url("images/Illustration.png");
                background-size: 200px;
                background-repeat: no-repeat;
                display: inline-block;
                text-indent: -99999px;
                height: 158px;
                width: 200px;

            }
            body{
                background-color: black;
                margin: 0;
            }
            
            footer{
                background-color: white;
                color: black;
                text-align: center;
                padding: 10px 0;    
            }
            section{
                background-color: rgb(108, 72, 72);
                color: black;
                padding: 20px;
                margin: 10px 0px 10px 0px;
                display: flex;
                flex-direction: row;
            }
            li:last-child {
                background-color: rgb(22, 199, 51);
            }
            a {text-decoration: none;}
            a:hover {
                color: rgb(255, 0, 0);
                text-decoration: underline;
             
            }
            .feature-box.sales {
                background-color: rgb(130, 116, 201);
            }
          
                div{
                    background-color: rgb(255, 255, 255);
                    color: black;
                    text-align: center;
                    width: 100px;
                    height: 500px;
                    margin: auto;



                }
            
            h1{
                color: red;
            }
             h2{
                color: blue;
            }
             h6{
                color: green;
            }
             p{
                color: yellow;
            }
             button{
                background-color: white;
                color: black;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }
             ul{
                list-style-type: square;
            }
             li{
                color: rgb(100, 0, 221);
            }